@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(../fonts/roboto/roboto.woff2);
    src: url (../fonts/roboto/robotomedium.woff2);
    src: url (../fonts/roboto/robotobold.woff2);    /* Путь к файлу со шрифтом */
}

*{
    padding: 0;
    margin: 0;
}

html, body {
	font-family: "Roboto", "Arial", "sans-serif";
}

header {
    width: 1446px;
    height: 546px;
    background-color: #eeeeee;
}

.container {
    width: 1200px;
}

.header-top {
    display: block;
}

.img-logo {
    float: left;
    padding-left: 140px;
    padding-top: 49px;
}

.main-navigation {
    font-family: "Roboto Medium", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.site-navigation,
.user-navigation {
    list-style: none;
}
.site-navigation a,
.user-navigation a {
    text-decoration: none;
    color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  border-bottom: 2px solid #fb565a;
  padding-top: 5px;
}