@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold/Roboto-Medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_medium/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_medium/Roboto-Bold-webfont.ttf') format('truetype');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


/* Общие элементы */

body {
	color: #000;
	font-weight: 400;
	background-color: #ffffff;
	box-sizing: border-box;
}

/* Стили в шапке */

.site-navigation a,
.user-navigation a {
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-family: 16px;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.site-navigation li,
.user-navigation li {
	list-style: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.slider-content .slider-info1 {
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-content .slider-info2 {
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-content .slider-info3 {
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-content .slider-description {
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

/* Конец стили в шапке */

/* Начала стили кнопок */

.btn {
  border: none;
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  color: #ffffff;
}

.btn:active {
  color: rgba(255, 255, 255, 0.302);
}

.btn.btn-red {
  background-color: #fb565a;
}

.btn.btn-red:hover {
  background-color: #e74246;
}

.btn.btn-red:active {
  background-color: #d7373b;
}

.btn.btn-green {
  background-color: #00ca74;
}

.btn.btn-green:hover {
  background-color: #00bc6c;
}

.btn.btn-green:active {
  background-color: #00aa62;
}

.btn.btn-yellow {
  background-color: #efc84a;
}

.btn.btn-yellow:hover {
  background-color: #eab534;
}

.btn.btn-yellow:active {
  background-color: #e5a722;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

/* Конец стилей кнопок */

/* Начала построений сеток */

.visual-hidden {
	font-size: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	left: -1px;
	top: -1px;
	opacity: 0;
}

.slide-btn {
	display: none;
}

.slider-content {
	display: none;
}

#slide-btn1:checked ~ .slides .slider-content:nth-child(1) {
	display: block;
}

#slide-btn2:checked ~ .slides .slider-content:nth-child(2) {
	display: block;
}

#slide-btn3:checked ~ .slides .slider-content:nth-child(3) {
	display: block;
}

.slide-controls label {
	display: inline-block;
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #000;
	margin: 0 5px;
	cursor: pointer;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-navigation {
	display: flex;
	align-items: center;
}

.site-navigation {
	display: flex;
	align-items: center;
}

.features-services {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.features-sites {
	margin-right: 20px;
	width: 33.33%;
	list-style-type: none;
}

.content-presentage {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.advantage-percentages {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	list-style-type: none;
}

.gallary-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-footer {
	display: flex;
	align-items: center;
}

.social-icons {
	display: flex;
	align-items: center;
}

.modal-post {
	width: 500px;
	padding:  20px;
	border: 1px solid #000;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	top: -100%;
	transform: translate(-50%, -50%);
	background: #fff;
}

.modal-post-form {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-post-input {
	width: 45%;
}

.modal-post-input input {
	width: 100%;
}

.modal-post-textarea {
	width: 100%;
}

.modal-post-textarea textarea {
	width: 100%;
}

.modal-close {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 0;
	line-height: 0;
	width: 20px;
	height: 20px;
	background: #000;
	border: none;
	cursor: pointer;
}

.filters-content-cat {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.left-sidebar {
	width: 240px;
}

.filters-catalog-wrapper {
	width: 840px;
}

.toggles {
	height: 1px;
	position: relative;
	background: #ccc;
	margin-bottom: 20px;
}

.toggle {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	cursor: pointer;
	background: #000;
	border: none;
}

.toggle:nth-child(1) {
	left: 0;
}


.toggle:nth-child(2) {
	left: 70%;
}

.toggles-input,
.toggles-inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toggles-input input {
	width: 60px;
}

.filtres-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters-up-down {
	display: flex;
	align-items: center;
}

.filters-catalog {
	display: flex;
	align-items: center;
}

.catalog-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item {
	width: 400px;
}

.pagination {
	display: flex;
	align-items: center;
}

.pagination-list-item {
	list-style-type: none;
	width: 30px;
	margin: 0 10px;
}

/* Конец построений сеток */